// Normilize
@import url(normalize.css);

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

// Variables

$base-width: 100%;

	//media sizes

	$width-sm: 576px;
	$width-md: 768px;
	$width-lg: 992px;
	$width-xl: 1200px;

// Defaults
html {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Lato", sans-serif;
	font-size: 16px;
	font-weight: 300;
}

section {
	width: 100%;
	margin: 0;
	padding: 0;
}

.header {
	position: relative;
	background: url("../img/sec1bg.png") 50% 50%;
	background-size: cover;
	display: flex;
	justify-content: center;

	&:before {
		position: absolute;
		width: 100%;
		height: 100%;
		content: '';
		background: rgba(0,0,0,.4);
	}

	&-wrapper {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 840px;
		color: #fff;
	}

	&-logo {
		padding: 0;
		margin: 0;
		margin-top: 40px;
		font-weight: 700;
		font-size: 24px;
	}

	&-content {
		padding: 0;
		margin: 0;
		margin-top: 270px;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;

		&__title {
			font-size: 55px;
			font-weight: 700;
			width: 70%;
		}

		&__subtitle {
			font-size: 18px;
			font-weight: 400;
			margin-top: 15px;
			line-height: 27px;
			width: 70%;
		}

		&-form {

			margin-top: 52px;
			width: 100%;

			form {
				display: flex;
				justify-content: space-evenly;
				font-size: 16px;
				font-weight: 400;
				padding: 0px 75px 0px 75px;

				* {
					margin-right: 40px;
					border: none;
					border-radius: 5px;
					padding: 20px 50px;
				}

				input {
					padding-left: 20px;
					color: #fff;
					background: rgba(255,255,255,.25); 
				}

				input:focus {
					outline: none;
				}

				input::placeholder {
					color: #fff;
				}

				button {
					margin-right: 0;
					background: rgb(254,152,91);
					background: linear-gradient(90deg, rgba(254,152,91,1) 0%, rgba(254,79,167,1) 100%);
					color: #fff;
				}

				button:focus {
					outline: none;
				}

				@media (max-width: $width-lg) {
					flex-direction: column;
					justify-content: flex-start;
					align-items: center;

					input {
						margin-bottom: 10px;
						margin-right: 0;
						width: 80%;
					}

					button {
						width: 50%;
					}
				}

				@media (min-width: $width-lg) {

					input {
						flex-grow: 1;
					}
				}

				@media (max-width: $width-sm) {
					button {
						width: 100%;
					}
				}
			}

		}

		@media (max-width: $width-sm) {
			margin-top: 85px;

			&__title {
				width: 90%;
			}

			&__description {
				width: 90%;
			}
		}
	}

	@media (min-width: $width-xl) {
		&-wrapper {
			width: $base-width;
		}
	}

	@media (min-width: $width-md) {
		&-logo {
			width: 100%;
		}

		&-content {
			width: 100%;
		}
	}

}

.content {
	display: flex;
	justify-content: center;

	&-wrapper {
		display: flex;
		flex-direction: column;
		padding-top: 125px;
	}

	&-top ~ {
		width: 100%;
	}

	&-top {
		display: flex;
		justify-content: space-between;

		&-inner {
			display: flex;
			flex-direction: column;
			flex: 1;

			&__title {
				margin-bottom: 20px;
				font-size: 36px;
				font-weight: 700;
				color: #414141;
				line-height: 54px;
			}

			&__subtitle {
				margin-top: 45px;
				font-size: 18px;
				font-weight: 700;
				color: #414141;
			}

			&__description {
				margin-top: 15px;
				font-size: 16px;
				font-weight: 300;
				color: #6c6c6c;
				line-height: 24px;
			}

			& + .video {
				margin-top: 15px;
				display: flex;
				align-items: flex-end;

				img {
					width: 90%;
					height: auto;
				}
			}
		}

		@media (max-width: $width-xl) {
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			text-align: center;

			&-inner {
				align-items: center;

				& + .video {
					order: -1;
					margin-bottom: 40px;
					align-items: center;
				}

				&__description {
					width: 70%;
				}
			}
		}

	}

	&-divider {
		width: 100%;
		height: 0;
		border-bottom: 2px solid rgba(0,0,0,.1);
		margin-top: 110px;
	}

	&-down {
		margin-top: 85px;
		display: flex;
		justify-content: center; 
		text-align: center;

		&-idea {
			display: flex;
			flex-direction: column;
			align-items: center;

			img {
				width: 64px;
				height: auto;
			}

			&__title {
				font-size: 18px;
				font-weight: 700;
				color: #414141;
				margin-top: 15px;
			}

			&__description {
				margin-top: 15px;
				font-size: 16px;
				font-weight: 300;
				color: #6c6c6c;
				line-height: 24px;
			}
		}

		@media (max-width: $width-xl) {
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;

			&-idea {
				width: 50%;
				margin-bottom: 40px;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		@media (min-width: $width-xl) {
			&-idea {
				margin-right: 45px;

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}

	@media (min-width: $width-xl) {
		&-wrapper {
			width: $base-width;
		}
	}
}

.about {
	background-color: #F6FAFD;
	margin-top: 140px;
	display: flex;
	justify-content: center;

	&-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			width: 90%;
			height: auto;
		}
	}

	&-content {

		&-description {
			color: #414141;
			font-size: 24px;
			font-weight: 400;
			line-height: 36px;
		}

		&-initials {
			margin-top: 15px;
			color: #414141;
			font-size: 24px;
		}
	}

	@media (min-width: $width-xl) {
		&-wrapper {
			width: $base-width;
		}

		&-content {
			&-description {
				width: 60%;
			}
		}
	}

	@media (min-width: $width-lg) {
		&-content {
			margin-left: 55px;
		}
	}

	@media (max-width: $width-lg) {
		&-wrapper {
			flex-direction: column;
			align-items: center;
		}

		&-content {
			width: 50%;
			padding-top: 50px;
			order: -1;
			margin-bottom: 50px;
		}
	}
}

.plans {
	//...
	display: flex;
	justify-content: center;

	&-wrapper {
		padding-top: 125px;
	}

	&-content {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;

		&__title {
			font-weight: 800;
			font-size: 36px;
			color: #414141;
		}

		&__description {
			color: #6c6c6c;
			line-height: 24px;
			font-size: 16px;
			font-weight: 300;
			margin-top: 25px;
			width: 70%;
		}
	}

	&-offers {
		width: 100%;
		display: flex;
		justify-content: center;

		&-offer {
			display: flex;
			flex-direction: column;
			align-items: center;

			&__title {
				font-size: 14px;
				font-weight: 700;
				color: #414141;
				text-transform: uppercase;
			}

			&__price {
				font-size: 14px;
				font-weight: 700;
				color: #414141;
				vertical-align: bottom;
				margin-top: 40px;

				span {
					font-size: 72px;
					color: #fe4fa7;
				}
			}

			&__description {
				color: #6c6c6c;
				font-size: 16px;
				font-weight: 300;
				text-align: center;
				margin-top: 35px;
				line-height: 24px;
				width: 70%;
			}

			button {
				padding: 20px 50px;
				margin-top: 25px;
				color: #414141;
				border: 1px solid #414141;
				background: #fff;
				border-radius: 5px;
			}

			button:focus {
				background: rgb(254,152,91);
				background: linear-gradient(90deg, rgba(254,152,91,1) 0%, rgba(254,79,167,1) 100%);
				color: #fff;
				border: none;
				outline: none;
			}

		}

		@media (max-width: $width-lg) {
			flex-direction: column;
			align-items: center;
			margin-top: 100px;

			&-offer:first-child {
				margin-bottom: 50px;
			}
		}

		@media (min-width: $width-lg) {
			margin-top: 160px;

			&-offer:first-child {
				margin-right: 50px;
			}

			&-offer:last-child {
				margin-left: 50px;
			}
		}
	}

	@media (min-width: $width-xl) {
		&-wrapper {
			width: $base-width;
		}
	}
}

.conclusion {
	margin-top: 215px;
	background: rgb(254,152,91);
	background: linear-gradient(90deg, rgba(254,152,91,1) 0%, rgba(254,79,167,1) 100%);	
	display: flex;
	justify-content: center;
	text-align: center;

	&-wrapper {
		padding-bottom: 120px;
	}

	&-content {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;

		&__title {
			color: #fff;
			font-weight: 700;
			font-size: 55px;
			margin-top: 135px;
		}

		&__description {
			font-weight: 400;
			font-size: 20px;
			line-height: 30px;
			margin-top: 25px;
			color: #fff;
			width: 60%;
		}

		button {
			padding: 20px 50px;
			margin-top: 50px;
			color: #414141;
			border: none;
			background: #fff;
			border-radius: 5px;
		}

		button:focus {
			outline: none;
		}
	}

	@media (min-width: $width-xl) {
		&-wrapper {
			width: $base-width;
		}
	}
}

.footer {
	margin-top: 90px;
	display: flex;
	justify-content: center;
	text-align: center;

	&-wrapper {
		width: 50%;
		padding-bottom: 80px;
		display: flex;
		flex-direction: column;
	}

	&-logo {
		color: #464646;
		font-size: 24px;
		font-weight: 700;
		align-self: center;
	}

	&-links {
		display: flex;
		justify-content: space-between;
		margin-top: 35px;

		a {
			font-size: 14px;
			font-weight: 700;
			color: #464646;
			text-decoration: none;
			text-transform: uppercase;
		}

		a:hover {
			color: #fe4fa7;
		}
	}

	&-content {
		margin-top: 80px;
		display: flex;
		justify-content: space-between;
		font-size: 14px;
		font-weight: 400;
		color: #464646;

		a {
			font-size: 14px;
			font-weight: 700;
			color: #464646;
			text-decoration: none;
			text-transform: uppercase;
		}
	}

	@media (max-width: $width-xl) {
		&-content {
			flex-direction: column;
			align-items: center;

			* {
				margin-bottom: 20px;
			}
		}
	}

	@media (max-width: $width-md) {
		&-links {
			flex-direction: column;
			align-items: center;

			* {
				margin-bottom: 20px;
			}
		}
	}
}